body {
  background-image: url(asset/img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin: 1rem;
  padding: 0;
}

h1 {
  text-align: center;
}

input,
button {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: cornflowerblue;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
